$black: #000000;
$white: #ffffff;
$dark: #1a2024;
$primary: #0e73f6;
$gray-primary: #6e8bb7;
$gray-secondary: #48535b;
$gray-light: #9aa6ac;
$gray-lighter: #eef0f2;
$red: #f76659;
$green: #22c348;
$green-secondary: #1ac19d;
$yellow: #f8c51b;
